<% layout('admin/adminTemplate') -%>

<h1><%= post.title %> </h1>

<div id="editorjs"></div>
<script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var post = `<%- post %>`;

</script>