<% layout('admin/adminTemplate') -%>

<!-- TODO: Add JQuery-->

<div class="container">
  <div class="list-group">
    <% posts.forEach( post => { %>
        <a href="" class="list-group-item list-group-item-action">
        <%= post.title %> - <i>By <%= post.author %></i>
            <div class="btn-group float-end" role="group">
                <a href="" class="btn btn-danger">Delete</a>
                <a href="/admin/posts/<%= post._id %>/edit" class="btn btn-warning">Edit</a>
                <% if (post.public) { %>
                    <a href="#" class="btn btn-danger">Make Private</a>
                <% } else {  %>
                    <a href="#" class="btn btn-success">Make Public</a>
                <% } %>
            </div>
        </a>
    <% }) %>
  </div>
</div>
