<% layout('template') -%> <% include navbar_test -%>

<div id="karriere_content">

  <div class="container">
    <header>
      <div class="heading">
        <h1>Kategorien</h1>
        <hr>
      </div>
    </header>
    <div class="content">
      <div class="card">
        <h2>Kreativität</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card">
        <h2>Technik</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card">
        <h2>Kommunikation</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card">
        <h2>Forschung</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="card">
        <h2>Wirtschaft</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <header>
      <div class="heading">
        <h1>Ausbildungsmöglichkeiten</h1>
        <hr>
      </div>
      <form>
        <select class="field" id="filter">
          <option value="" selected disabled hidden>Filter</option>
          <option value="" >Kreativität</option>
          <option value="" >Technik</option>
          <option value="" >Kommunikation</option>
          <option value="" >Forschung</option>
          <option value="" >Wirtschaft</option>
        </select>
        <input class="field" id="search" type="text" placeholder="Suche">
      </form>
    </header>
    <div class="content">
      <div class="card">
        <h2>FachinformatikerIn Anwendungsentwicklung</h2>
        <img class="karriereprofil" src="./img/fi_ae.svg" alt="">
      </div>
      <div class="card">
          <h2>FachinformatikerIn Datenanalyse</h2>
          <img class="karriereprofil" src="./img/fi_da.svg" alt="">
      </div>
      <div class="card">
          <h2>FachinformatikerIn Systemintegration</h2>
          <img class="karriereprofil" src="./img/fi_si.svg" alt="">
      </div>
      <div class="card">
          <h2>Informatik</h2>
          <img class="karriereprofil" src="./img/if.svg" alt="">
      </div>
      <div class="card">
          <h2>Wirtschaftsinformatik</h2>
          <img class="karriereprofil" src="./img/wif.svg" alt="">
      </div>
    </div>
  </div>

</div>



<link rel="stylesheet" href="./css/karriere.css">
<script src="./js/karriere.js"></script>