 <% layout('template') -%> 

<nav>
    <div class="navbar-content">

       <img class="menulogo" src="https://fontmeme.com/permalink/211101/3eb0caac33138bf1b402d62508e132f8.png">

       <div class="navbar-link">
            <span class="unselectable navbar-games">Games</span>
            <div class="navbar-dropdown navbar-dropdown-games">
                <a class="navbar-dropdown-games-elements navbar-dropdown-elements" href="#">SQIT</a>
                <a class="navbar-dropdown-games-elements navbar-dropdown-elements" href="#">Pong</a>
            </div>
       </div>

       <div class="navbar-link">
            <span class="unselectable navbar-knowledge">Knowledge</span>
            <div class="navbar-dropdown navbar-dropdown-knowledge">
                <a class="navbar-dropdown-knowledge-elements navbar-dropdown-elements" href="#">Berufsswiper</a>
                <a class="navbar-dropdown-knowledge-elements navbar-dropdown-elements" href="#">Quiz</a>
            </div>
       </div>
        
    </div>

    <div class="navbar-toggle-menu">

        <div></div>
        <div></div>
        <div></div>

    </div>

    <div class="navbar-toggle-content" id="navbar-toggle-content">

        <div class="navbar-toggle-games" id="navbar-toggle-games">
            <span>Games</span>
        </div>

        <div class="navbar-toggle-knowledge" id="navbar-toggle-knowledge">
            <span>Knowledge</span>
        </div>

    </div>
</nav>

<link rel="stylesheet" href="./css/navbar.css"/>
<script type="text/javascript" src="./js/navbar.js"></script>