<% layout('template') -%>

<nav>
    <div class="navbar-content">
        <span class="navbar-logo">This is IT</span>
        <a class="navbar-link" href="#">Berufsswiper</a>
        <a class="navbar-link" href="#">SQIT</a>
    </div>
    <div class="navbar-toggle-menu">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="navbar-toggle-content"></div>
</nav>

<script type="text/javascript" src="./js/navbar.js"></script>