<% layout('template') -%> 
        	<link rel="stylesheet" href="/css/style.css">
           <div class="question" id="currentQuestion">
            <div class="realQuestion">
                <div class="answerItself">Was würdest du lieber tun?</div>
            </div>

            <div class="answerOptions">
                <div class="answerOption1">
                    Computer konfigurieren und vernetzen
                </div>

                <div class="answerOption2">
                    eine Smartphone-App programmieren
                </div>
            </div>
        </div>

        <div class="answerbuttonarea" id="swipearea">
            <div class="answerbutton" id="swipe_left">
                <span class="answerLetter" id="answerLetter1"
                    ><img
                        class="optionnumber"
                        src="https://fontmeme.com/permalink/211105/d9902630ba197fc9390970156bb28948.png"
                /></span>
            </div>

            <div class="answerbutton" id="swipe_right">
                <span class="answerLetter" id="answerLetter2"
                    ><img
                        class="optionnumber"
                        src="https://fontmeme.com/permalink/211105/ae32e5b57ed4a66750d4f8aa1b838faf.png"
                /></span>
            </div>
        </div>

        <script type="text/javascript" src="/js/style.js"></script>
        <!-- <script type="text/javascript" src="./js/main.js"></script> -->
