<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/script.js"></script>

    
    <title>EJS Template</title>
  </head>
  <body>
    
      <%-body -%>
  </body>
</html>