body {
  text-align: center;
  margin-bottom: 10vh;
  background-image: url("/files/sqit/lowPolyBG.svg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0 0 5% 0;
}

#editor,
#editor2 {
  margin: auto !important;
}
