<% layout('../template') -%> <% include ../navbar_test -%>

<link type="text/css" rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/sqit_games.css" />

<div class="spacer"></div>

<div id="canvasHolder" style="width: 100%"></div>

<div class="spacer"></div>

<div id="editor">//hm what should i do?.. maybe i complete this.
//some people whispered me, the upper left field-position starts with the number 0..

//KI starts...

fields = [false,false,false,false,false,false,false,false,false];
</div>

<div id="editor2">Output: </div>

<!-- <button id="presser">Drück mal</button> -->
<div class="nextSite"><a href="/sqit/game1" class="">Next Round</a></div>