<% layout('../template') -%> <% include ../navbar -%>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>

<script defer src="js/sqit/sketch1.js"></script>

<div id="canvasHolder"></div>
