<% layout('../template') -%> <% include ../navbar_test -%>

<link type="text/css" rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/sqit_games.css" />

<div class="spacer" style="width: 100%; margin: 5% 0%"></div>

<div id="canvasHolder" style="width: 100%"></div>
<!-- <button id="presser">Drück mal</button> -->
<div class="spacer" style="width: 100%; margin: 5% 0%"></div>

<div class="editorHolder">
  <div id="editor" style="margin: 0; padding: 0"></div>
</div>

<div id="editor2"></div>

<script>
  $('#editor').html(
    `// Open the gate to enter the next challenge\n\nlet gate ="close";\ngate`
  );

  $('#editor2').html(`Output:\n'close'`);
</script>
