<% layout('../template') -%> <% include ../navbar_test.ejs -%>

<link type="text/css" rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/sqit_games.css" />

<script defer type="module" src="client/src/sqit/game4/sketch2.js"></script>

<div id="canvasHolder">
</div>

<div id="editor">//hm what should i do?.. maybe i complete this.
//some people whispered me, the upper left field-position starts with the number 0..

newCircle();
</div>

<div id="editor2">Output: </div>

<button id="presser">Drück mal</button>