<% layout('../template') -%> <% include ../navbar.ejs -%>

<link type="text/css" rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/sqit_games.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>

<script defer type="module" src="/js/sqit/sketch2.js"></script>

<div id="canvasHolder">
</div>

<div id="editor">//hm what should i do?.. maybe i complete this.
//some people whispered me, the upper left field-position starts with the number 0..

newCircle();
</div>

<button id="presser">Drück mal</button>