<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/script.js"></script>
    
    <title>This is IT</title>
  </head>
  <body>
      <%-include navbar.ejs -%>
      <div class="container-fluid min-vh-100 bg-dark text-white">
        <div class="container">
          <%-body -%>
        </div>
      </div>
  </body>
</html>