@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
    /* Sqit-game colors */
  --white: #fff;
  --GuardRed: #ed1b76;
  --GuardRedLight: #f44786;
  --PlayerGreenDark: #037a79ff;
  --PlayerGreen: #037a76;
  --PlayerGreenLight: #239f9c;
  --StairPink: #fcb6eaff;
  --StairPinkDarker: #bb66a7;
  --StairGreen: #e1feacff;
  --FloorGrey: #485b79ff;
  --StairBlueGreen: #43bcccff;
  --VIPGold: #fcc201;
  --FrontManGrey: #344f6a;
  --CardBrown: #B59161;
  --color-navy-800: #10162f;
  --typoPro: "TYPOGRAPH PRO", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --hack: Hack, monospace;
}