//  IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

//  GENERAL
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
  background-color: #1d073b;
}
body {
  height: 100%;
  background-color: #1d073b;
}

//topbar
h3 {
  background-color: transparent;
}
#karriere_header {
  display: flex;
  flex-direction: row;

  color: #00b4c5;
}
.button {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0px 32px;
  color: #00b4c5;
  h3 {
    margin: 0;
  }
}
.active-button {
  background-color: #00b4c5;
  color: #1d073b;
}

//main
#karriere_main_content {
  display: flex;
  flex-direction: row;
  min-height: 42.2vw;
  height: 100%;
  color: #00b4c5;
  background-color: #1d073b;
}

//Category
.category-row {
  width: 100%;
  display: flex;
  background-color: transparent;
}
.category-column {
  width: 50%;

  //words around penta - pls change this
  #Kreativität {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 4rem 19.5rem;
  }

  #Technik {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 11rem 9rem;
  }

  #Soziales {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 11rem 33rem;
  }

  #Forschung {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 22rem 9.5rem;
  }

  #Wirtschaft {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 22rem 30rem;
  }
}
.penta {
  margin-left: 35%;
  margin-top: 15%;
  background-color: #00b4c5;
  height: 250px;
  width: 250px;
}

.category-field {
  margin: 1.5rem;
  border: solid 3px #00b4c5;
  border-radius: 5px;
  h2 {
    margin: 0.6rem 3rem;
    background-color: transparent;
  }
  p {
    background-color: transparent;
    margin-left: 1rem;
  }
}
.category-field:hover {
  background-color: #00b4c5;
  color: #1d073b;
}

//Career
#career {
  width: 100%;
}
#search {
  height: 1rem;
  margin: 1rem 2rem 0 0;
  display: flex;
  justify-content: flex-end;
}
#header-search {
  background-color: #1d073b;
  color: #00b4c5;
  border: solid 2px #00b4c5;
}

#card-div {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  justify-content: center;
}
.card {
  min-width: 16vw;
  width: 16vw;
  height: 16vw;
  margin: 1.5rem;
  background-color: transparent;
}
.card-inner {
  height: 100%;
  width: 100%;
  border: solid 5px #00b4c5;
  border-radius: 5px;
  color: #1d073b;
  background-color: #00b4c5;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  h2 {
    margin-top: 1rem;
    background-color: transparent;
    color: #1d073b;
    font-family: 'Roboto Mono';
  }
  p {
    margin-top: 1rem;
    background-color: transparent;
    color: #1d073b;
    font-family: 'Roboto Mono';
  }
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  background-color: #00b4c5;
  color: #1d073b;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 800px) {
  //Category
  .category-row {
    display: grid;
  }
  .category-column {
    width: 100%;
  }
  .penta {
    margin-top: 2rem;
    justify-self: center;
    margin-bottom: 3rem;
    margin-left: 17rem;
  }
  #Kreativität,
  #Technik,
  #Soziales,
  #Forschung,
  #Wirtschaft {
    display: none;
  }

  //Career
  .card:hover {
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 1;
  }
}
