nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    border-bottom: 1px solid black;
}

.navbar-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 3% 3%;

    a {
        align-self: flex-end;
        margin: 0 2%;
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: underline;
        color: black;
    }
}

.navbar-link {
    span {
        margin: 0 55%;
    }
}

.navbar-dropdown {
    display: none;
    top: 12vh;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    padding: 5px 0;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    margin: 0 5%;

    z-index: 1;
}

.navbar-toggle-menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 13px 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto 5%;
    cursor: pointer;
    
    div {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
    }
}

.navbar-toggle-menu:hover {
    background-color: black;

    div {
        background-color: white;
    }
}

.navbar-toggle-content {
    display: none;
    right: 0;
    top: 12vh;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    padding: 5px 0;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    margin: 0 5%;

    z-index: 1;
    
    span {
        font-weight: bold;
    }

    a {
        width: 40%;
        padding: 5px 10px;
        font-size: 1rem;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    a:hover {
        text-decoration: underline;
        color: black;
    }
}

@media only screen and (orientation: portrait) {
    .navbar-toggle-menu {
        display: block;
    }

    .navbar-content {
        div {
            display: none;
        }
    }
}